.elements__button {
    width: 320px;
    height: 36px;
    margin: 80px auto 80px auto;
    background-color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    border-color: #e8e8e8;
}