.technologi__style_type {
    display: grid;
    align-items: center;
    width: 90px;
    height: 60px;
    background: #E8E8E8;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}