.header__link {
    margin-top: 11px;
    margin-right: 30px;
    margin-left: 0;
    padding-left: 0;
    text-decoration: none;
    width: 77px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}