            .element__favourit {
                opacity: 0;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                border-radius: 36px;
                margin: 7px 14px 19px auto;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                border: none;
            }
            
            .element__favourit:hover {
                opacity: 1;
            }