.header__films {
    margin: 10px 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header__films {
        margin: 24px 0 0 0;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
}