.header__accaunt {
    margin: 10px 0 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
    background: #F9F9F9;
}

@media screen and (max-width: 768px) {
    .header__accaunt {
        margin: auto auto 54px auto;
    }
}