.serch__subtitle {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin: 0 12px 0 14px;
}

@media screen and (max-width: 767px) {
    .serch__subtitle {
        font-size: 11px;
    }
}