.about__column_subtitle {
    margin: 0;
    padding-top: 26px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

@media screen and (max-width: 1023px) {
    .about__column_subtitle {
        padding-top: 22px;
    }
}

@media screen and (max-width: 767px) {
    .about__column_subtitle {
        font-size: 11px;
        line-height: 16px;
        padding-top: 16px;
    }
}